{% extends 'layout.html.twig' %}

{% block title %}Recherche de Formations{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h5><a href="index.php?controller=Home&action=home">Accueil</a></h5>
        </section>

        {% include 'Blocks/Search/queryForm.html.twig' %}

        {% block result %}{% endblock %}
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

