.box.box-green{
	border-top-color: #00a65a !important;
}
.box.box-yellow{
	border-top-color: #f39c12 !important;
}

.bg-green-light{
	background-color: #28d63d;
}
.bg-pink{
	background-color: #c281c7;
	color: white;
}
.products-list .product-info {
	margin-left: 20px;
}
.product-title{
	color: #3c8dbc;
}
.img-manage-formation{
	height: 50px;
	widows: 50px;
}
#disconnect{
	padding: 15px 15px;
	color: white;
	float: right;
}

#disconnect > a{
	color: white;
}

.fa-breadcrum{
	font-size: 11px!important;
}

/* searchFormation */



#purple .slider-selection {
	background-color: #605ca8 !important
}
#maroon .slider-selection {
	background: #d81b60;
}