{% extends 'layout.html.twig' %}

{% block title %}Ma formation{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        {% include 'Blocks/Formations/one_formation_overview.html.twig' with {'formation': formation, 'box_title' : 'Formation : ' ~ formation.name} %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <button type="button" class="btn btn-block btn-default btn-lg" id="back">Retour</button>
                </div>
                {% if isSubscribable == 1 or (employee.formations[0].status.state_of_validation == "validée" and employee.manager_status == 1) %}
                    <div class="col-md-6">
                        {% if employee.formations[0].id != formation.id %}
                            <button type="button" class="btn btn-block btn-info btn-lg" id="subscribe">S'inscrire</button>
                        {% else %}
                            <a href="index.php?controller=employee&action=removeFormation&id={{ formation.id }}">
                                <button type="button" class="btn btn-block btn-danger btn-lg" id="unsubscribe">Se désinscrire</button>
                            </a>
                        {% endif %}
                    </div>
                    <!-- ./col -->
                {% endif %}
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block script %}<script src="Web/script/Formation/editFormation.js"></script>{% endblock %}
