{% extends 'layout.html.twig' %}

{% block title %}Les formations{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h5><a href="index.php?controller=Home&action=home">Accueil</a></h5>
        </section>
        <!-- Main content -->
        <section class="content">
            {% include 'Blocks/Formations/large_formation_overview.html.twig' with {'formations': formations, 'box_title' : 'Toutes les formations'} %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block script %}<script src="Web/script/Formation/formations.js"></script>{% endblock %}
