{% extends 'layout_login.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <b>M2L</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Veuillez rentrer vos indentifiants</p>

            <form id="loginForm">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Email" name="email" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Mot de passe" name="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 col-xs-offset-4">
                        <input  type="submit" class="btn btn-primary btn-block btn-flat" name="submit" value="Connexion">
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}