{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h5><a href="index.php?controller=Home&action=home">Accueil</a></h5>
    </section>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            {% include 'Blocks/Header/employee_boxes.html.twig' with {'employee': employee} %}

            <!-- /.row -->
            <div class="row">
                {% include 'Blocks/Formations/small_formation_overview.html.twig' with {'formations': formations, 'box_title' : 'Dernières formations', 'filter': 'all'} %}
                {% include 'Blocks/Formations/small_formation_overview.html.twig' with {'formations': employee.formations, 'box_title' : 'Mes formations', 'filter' : 'all'} %}
            </div>
            {% if employee.manager_status == 1 %}
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- USERS LIST -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mon équipe</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <ul class="users-list clearfix">
                                    {% for member in team %}
                                        <li>
                                            <img src="{{ member.image }}" alt="User Image">
                                            <a class="users-list-name" href="index.php?controller=team&action=manage&id={{ member.id }}">{{ member.username }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <!-- /.users-list -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="/index.php?controller=team&action=show" class="uppercase">Voir plus</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!--/.box -->
                    </div>
                </div>
                <!-- /.row -->
            {% endif %}
            <!-- Your Page Content Here -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block script %}<script src="Web/script/Home/home.js"></script>{% endblock %}